.wrapper{width: 470px!important;}
.rnd{width: 470px!important;}
#topnav{width: 458px!important;}
#header, #container, #footer{width: 459px!important;padding: 5px;}
#header .fl_right {width: 140px;text-align:right;color: #fff;}
