/* 
    Document   : dashboard
    Created on : 09-09-2013, 10:29:10 PM
    Author     : Guyen
    Description:
    Purpose of the stylesheet follows.
*/

#container .dashboardtabla h2{border-radius: 13px 13px 0 0;color: #FFF;padding: 8px;background-color: #06213F;text-align: center;}
#container .dashboardtabla a{float: left;margin-bottom: 10px;position:relative;}
#container .dashboardtabla a img{padding: 5px;border: 1px solid #999;margin-left: 10px;float: left;}
#container .dashboardtabla a h3,#container .dashboardtabla a p{border: none;width: 229px;float: left;padding: 0px;margin: 0px 0px 0px 10px;}
#container .dashboardtabla a p{color: #979797;}
#container .dashboardtabla .pendientes{position: absolute;left: 13px;top: 3px;display: block;height: 20px;background: rgba(255, 2, 2, 0.67);line-height: 20px;padding: 0px 3px;border-radius: 3px;color: #FFF;font-family: arial;font-weight: bold;}
#container .dashboardtabla .nopendientes{position: absolute;left: 13px;top: 3px;display: block;height: 20px;background: rgba(2, 83, 255, 0.67);line-height: 20px;padding: 0px 3px;border-radius: 3px;color: #FFF;font-family: arial;font-weight: bold;}
